@import './variables.module.scss';

.title {
	color: $accent-orange;
	font-family: var(--font-marmelad);
}

.heading-1 {
	@extend .title;
	font-size: 7rem;
}

.heading-2 {
	@extend .title;
	font-size: 5rem;
}

.heading-3 {
	@extend .title;
	font-size: 4rem;
}

.heading-4 {
	@extend .title;
	font-size: 3rem;
	line-height: 4rem;
}

.link {
	color: $base-grey;
	font-size: 2rem;
}

.links {
	display: flex;
	list-style: none;
	gap: 1rem;
}

.header {
	height: 4vh;
}

.input {
	text-align: center;
	border: 1px solid $accent-orange;
	background-color: $base-blue;
	color: $base-grey;
	padding: 1rem;
	border-radius: 1rem;
	&:focus {
		outline: 1px solid $accent-orange;
	}
}
.button {
	all: unset;
	background-color: $accent-orange;
	border-radius: 1rem;
	color: $base-blue;
	text-align: center;
	font-size: 2rem;
	padding: 1rem;
	width: 80%;
	cursor: pointer;
	box-shadow: 9px 11px 0px -2px rgba(135, 89, 13, 0.75);
	-webkit-box-shadow: 9px 11px 0px -2px rgba(135, 89, 13, 0.75);
	-moz-box-shadow: 9px 11px 0px -2px rgba(135, 89, 13, 0.75);

	&:active {
		transform: translate(9px, 9px);
		box-shadow: none;
	}
}
