@import '../../styles/common.module.scss';

.loading {
	height: 94vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	h4 {
		@extend .heading-4;
		text-align: center;
		margin-top: 3rem;
	}
}

.play {
	height: 100vh;
	color: $base-grey;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	.header {
		text-align: center;
		p {
			font-size: 2rem;
		}
		h4 {
			@extend .heading-4;
		}
	}
	.content {
		width: 80%;
		margin: 0 auto;

		.answer {
			margin-top: 1rem;
			display: flex;
			align-items: center;
			padding: 1rem;

			.answerInputs {
				width: 100%;
				display: flex;
				align-items: center;

				input[type='string'] {
					width: 90%;
				}

				p {
					font-size: 2rem;
					margin-left: 3rem;
				}

				.checkboxContainer {
					width: 10%;
					display: block;
					position: relative;
					margin: 1rem;
					cursor: pointer;
					font-size: 22px;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					display: flex;
					justify-content: center;
					align-items: center;

					input[type='checkbox'] {
						opacity: 0;
						cursor: pointer;
						height: 0;
						width: 0;
					}
				}

				.checkboxCheckmark {
					top: 0;
					left: 0;
					height: 25px;
					width: 25px;
					background-color: #eee;
					border-radius: 50%;
					&:after {
						content: '';
						position: absolute;
						display: none;
					}
				}

				.checkboxContainer input:checked ~ .checkboxCheckmark {
					background-color: $accent-orange;
				}

				.checkboxContainer input:checked ~ .checkboxCheckmark:after {
					display: block;
				}

				.checkboxContainer .checkboxCheckmark:after {
					top: 9px;
					left: 9px;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: $base-grey;
				}
			}
		}
	}
}
