@import './styles/common.module.scss';

.home {
	color: $base-grey;
	height: 96vh;
	background: url('../../public/home.svg') no-repeat bottom;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		@extend .heading-1;
		margin: 15rem 0 1.5rem;
	}

	p {
		font-size: 1.4rem;
		opacity: 0.6;
	}

	.actions {
		position: absolute;
		bottom: 5rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.warning {
			font-size: 1.25rem;
			text-align: center;
		}

		.link {
			font-family: var(--font-cambay);
			border: 1px solid $accent-orange;
			padding: 0.5rem 1rem;
			font-size: 1.5rem;
			border-radius: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		input {
			text-align: center;
			border: 1px solid $accent-orange;
			background-color: $base-blue;
			color: $base-grey;
			padding: 1rem;
			border-radius: 1rem;
			&:focus {
				outline: 1px solid $accent-orange;
			}
		}

		.play {
			display: flex;
			gap: 1rem;

			.link {
				@extend .link;
				background-color: $accent-orange;
				font-family: var(--font-marmelad);
			}
		}
	}
}
